*,
html,body{
    padding: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}
/* all screen */
.all-screen{
    color: white;
    display: flex;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-image: url(https://th.bing.com/th/id/R.fb247ed4a2a264b0b2380e51dd6f542c?rik=miRkB4hk0L9TlA&riu=http%3a%2f%2f1.bp.blogspot.com%2f-zHVTCyY0lxI%2fUYFrFCfbgzI%2fAAAAAAAAKJg%2fKj857osQyIE%2fs1600%2fGrey-website-background.jpg&ehk=cuRpyFaC50QffPNk4oQlJjB%2fdfijz7okC4638Ebw7y0%3d&risl=&pid=ImgRaw&r=0);
}
/* ini nav */
nav{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.box-nav{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    width: 30%;
}
.nav-klik a{
    text-decoration: none;
    color: white;
    padding: 3px;
}
.nav-klik{
    text-align: center;
}
.nav-klik:hover{
    border-bottom: 5px solid rgb(42, 141, 233);
}
/* screen1 */
.screen1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 100%;
    text-align: center;
    background-size: cover;
}
.img-screen1{
    border-radius: 50%;
    width: 100%;
    height: 300px;
}
.judul{
    width: 100%;
    text-align: center;
    color: green;
    padding-top: 15%;
}
/* screen2 */
.screen2{
    min-width: 100%;
    display: flex;
    justify-content: center;
    font-size: 19px;
    align-items: center;
    gap: 10px;
}
.isi-screen2{
    width: 40%;
    height: 30%;
}
.img-screen2{
    width: 30%;
    height: 40%;
    border-radius: 10px;
}
/* screen3 */
.screen3{
    display: flex;
    justify-content: center;
    font-size: 19px;
    align-items: center;
    gap: 10px;
    min-width: 100%;
}
.isi-screen3{
    width: 40%;
}
.img-screen3{
    border-radius: 10px;
    width: 30%;
    height: 40%;
}
/* screen4 */
.screen4{
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    display: grid;
    place-content: center;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  }
  
  .form .title {
    color: royalblue;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 200px;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 200px;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
  }
      

/* responsive */
@media (max-width: 700px){
    /* nav */
    .box-nav{
        width: 90%;
    }
    /* screen 1 */
    .isi-screen1{
        width: 90%;
    }
    .img-screen1{
        height: auto;
    }
    /* screen2 */
    .screen2{
        flex-direction: column;
        overflow: auto;
    }
    .isi-screen2{
        width: 90%;
    }
    .img-screen2{
        width: 90%;
        height: 30%;
    }
    /* screen3 */
    .screen3{
        flex-direction: column;
        padding-top: 10%;
        overflow: auto;
    }
    .img-screen3{
        width: 90%;
    }
    .isi-screen3{
        width: 90%;
    }
    /* screen4 */
    .form{
        width: 80%;
    }
}
@media (max-width:360px){
  /* screen3 */
  .screen3{
    padding-top: 30%;
    padding-bottom: 2%;
  }
}
