body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

header {
    justify-content: center;
    display: flex;
    width: 100%;
}

nav {
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 20px;
    padding: 10px;
}

header.navbar {
    width: 100%;
    margin: auto;
    position: fixed;
    margin-top: 10px;
    border-radius: 20px;
    left: 0;
    padding: 10px 0;
    color: rgb(0, 0, 0);
    transition: top 0.5s;
    z-index: 1000;
}

header.navbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header.navbar nav ul li {
    margin: 0 15px;
    text-align: center;
    transition: 1s;
}

header.navbar nav ul li a {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
}
section {
    padding: 100px 20px;
    min-height: 100vh;
}
section#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-image: url(pexels-felixmittermeier-956981.jpg); */
    background-size: cover;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c113 C 96%2c181 288%2c475.4 480%2c453 C 672%2c430.6 768%2c18.2 960%2c1 C 1152%2c-16.2 1344%2c293.8 1440%2c367L1440 560L0 560z' fill='rgba(9%2c 60%2c 102%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    /* background-attachment: fixed; */
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;
    border-image: fill 0 linear-gradient(#0003, #093c66);
}

.judul {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    margin-top: 20%;
    color: white;
}
.tema{
    text-shadow: 0 6px 10px rgb(21, 9, 9);
}

h1{
    overflow: hidden;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.images {
    width: 40%;
}

.about-jpg {
    width: 100%;
    border-radius: 10px;
}

.about-png {
    width: 100%;
    height: 40%;
    border-radius: 10px;
}

.text {
    width: 50%;
    color: white;
    padding: 10px;
}

.text-a {
    line-height: 1.6;
}

section#about {
    /* background-attachment: fixed; */
    /* background-color: #093c66; */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='rgba(9%2c 60%2c 102%2c 1)'%3e%3c/rect%3e%3cpath d='M -680.2440339605178%2c192 C -584.24%2c277.2 -392.24%2c589.2 -200.24403396051775%2c618 C -8.24%2c646.8 87.76%2c362 279.75596603948225%2c336 C 471.76%2c310 567.76%2c516.6 759.7559660394822%2c488 C 951.76%2c459.4 1103.71%2c188.6 1239.7559660394822%2c193 C 1375.8%2c197.4 1399.95%2c446.6 1440%2c510' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -798.5145090774333%2c437 C -702.51%2c378.6 -510.51%2c121 -318.5145090774334%2c145 C -126.51%2c169 -30.51%2c534 161.4854909225666%2c557 C 353.49%2c580 449.49%2c282.6 641.4854909225667%2c260 C 833.49%2c237.4 961.78%2c474 1121.4854909225667%2c444 C 1281.19%2c414 1376.3%2c176.8 1440%2c110' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -359.84167915044395%2c409 C -263.84%2c365 -71.84%2c178.8 120.15832084955602%2c189 C 312.16%2c199.2 408.16%2c472 600.158320849556%2c460 C 792.16%2c448 888.16%2c77.4 1080.158320849556%2c129 C 1272.16%2c180.6 1488.19%2c665.8 1560.158320849556%2c718 C 1632.13%2c770.2 1464.03%2c455.6 1440%2c390' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -141.98803074371898%2c582 C -45.99%2c524.6 146.01%2c270.8 338.011969256281%2c295 C 530.01%2c319.2 626.01%2c715.8 818.011969256281%2c703 C 1010.01%2c690.2 1106.01%2c257.2 1298.011969256281%2c231 C 1490.01%2c204.8 1749.61%2c584.2 1778.011969256281%2c572 C 1806.41%2c559.8 1507.6%2c250.4 1440%2c170' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-size: cover;
    flex-wrap: wrap;
}


section#Experience {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='rgba(9%2c 60%2c 102%2c 1)'%3e%3c/rect%3e%3cpath d='M -680.2440339605178%2c192 C -584.24%2c277.2 -392.24%2c589.2 -200.24403396051775%2c618 C -8.24%2c646.8 87.76%2c362 279.75596603948225%2c336 C 471.76%2c310 567.76%2c516.6 759.7559660394822%2c488 C 951.76%2c459.4 1103.71%2c188.6 1239.7559660394822%2c193 C 1375.8%2c197.4 1399.95%2c446.6 1440%2c510' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -798.5145090774333%2c437 C -702.51%2c378.6 -510.51%2c121 -318.5145090774334%2c145 C -126.51%2c169 -30.51%2c534 161.4854909225666%2c557 C 353.49%2c580 449.49%2c282.6 641.4854909225667%2c260 C 833.49%2c237.4 961.78%2c474 1121.4854909225667%2c444 C 1281.19%2c414 1376.3%2c176.8 1440%2c110' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -359.84167915044395%2c409 C -263.84%2c365 -71.84%2c178.8 120.15832084955602%2c189 C 312.16%2c199.2 408.16%2c472 600.158320849556%2c460 C 792.16%2c448 888.16%2c77.4 1080.158320849556%2c129 C 1272.16%2c180.6 1488.19%2c665.8 1560.158320849556%2c718 C 1632.13%2c770.2 1464.03%2c455.6 1440%2c390' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -141.98803074371898%2c582 C -45.99%2c524.6 146.01%2c270.8 338.011969256281%2c295 C 530.01%2c319.2 626.01%2c715.8 818.011969256281%2c703 C 1010.01%2c690.2 1106.01%2c257.2 1298.011969256281%2c231 C 1490.01%2c204.8 1749.61%2c584.2 1778.011969256281%2c572 C 1806.41%2c559.8 1507.6%2c250.4 1440%2c170' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

section#kontak {
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(9%2c 60%2c 102%2c 1)'%3e%3c/rect%3e%3cpath d='M1512 560L0 560 L0 466.57Q5.35 399.92%2c 72 405.27Q121.35 334.62%2c 192 383.97Q296.46 368.43%2c 312 472.89Q320.61 361.5%2c 432 370.11Q475.81 293.92%2c 552 337.72Q611.59 325.31%2c 624 384.9Q697.79 338.69%2c 744 412.48Q796.69 345.17%2c 864 397.86Q868.86 330.72%2c 936 335.58Q1001.13 280.71%2c 1056 345.84Q1074.09 291.92%2c 1128 310.01Q1154.69 264.7%2c 1200 291.39Q1289.63 261.01%2c 1320 350.64Q1343.4 302.04%2c 1392 325.44Q1443.26 256.69%2c 1512 307.95z' fill='rgba(45%2c 90%2c 164%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 531.9Q21.01 480.9%2c 72 501.91Q119.89 429.81%2c 192 477.7Q234.07 447.77%2c 264 489.84Q361.83 467.67%2c 384 565.51Q398.77 460.28%2c 504 475.05Q528.22 427.27%2c 576 451.49Q597.56 401.05%2c 648 422.61Q713.2 367.81%2c 768 433.02Q873.83 418.85%2c 888 524.68Q902.03 466.71%2c 960 480.74Q1007.1 407.84%2c 1080 454.94Q1121.2 424.14%2c 1152 465.35Q1217.84 411.19%2c 1272 477.02Q1340.89 473.91%2c 1344 542.81Q1425.89 504.7%2c 1464 586.6z' fill='rgba(19%2c 63%2c 118%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
/* main{
    background-color: aquamarine;
    width: 30%;
    padding: 5px;
}
form{
    background-color: brown;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.judul-form{
    text-align: center;
}
form input{
    padding: 10px;
}
form label{
    padding: 10px;
}

.kontak{
    background-color: rgb(37, 91, 91);
}
.item-kontak{
    background-color: brown;
    width: 20%;
    display: flex;
    align-items: center;
    padding: 10px;
} */


.container{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  main {
    padding: 20px;
    margin: 10px;
    width: 40%;
  }
  
  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(156, 156, 156);
    gap: 20px;
    background-color: white;
  }
  
  form:hover{
    border: 2px solid red;
  }
  
  form label {
    /* margin: 5px; */
    margin-bottom: -4%;
  }
  
  form input, form textarea {
    padding: 10px;
    margin-bottom: -4%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    padding: 10px;
    background-color: rgb(30, 31, 32);
    color: white;
    border: none;
    border-radius: 10px;
  }
  
  h1{
    text-align: center;
  }
  
  
  
  
  .card-item{
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    color: white;
  }
  
  .item1{
    display: flex;
    padding: 10px;
    align-items: center;
    margin: 10px;
    gap: 10px;
    margin-top: 20px;
  }
  
  #item-icon{
    font-size: 25px;
    background-color: rgb(30, 32, 32);
    padding: 10px;
    border-radius: 10px;
  }
  

  /* footer */
footer{
    background-color: rgb(35, 35, 36);
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px  solid black; */
}
.ftr-item{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    line-height: 1.5;
    color: white;
    text-align: center;
}
.nuri-jpg{
    border-radius: 50%;
    width: 40%;
    height: 100%;
}
.end-ftr{
    text-align: center;
    width: 100%;
    bottom: 0;
    color: white;
}

@media (max-width: 319px){
    body{
        display: none;
    }
}
@media (max-width: 379px) {
    #hidden {
        display: none;
    }

    nav {
        width: 400px;
    }

    #i-hidden {
        font-size: 30px;
        background-color: rgb(52, 100, 172);
        color: white;
        padding: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }
    /* .card-item{
        background-color: rgb(152, 173, 82);
        padding: 0;
        width: 100%;
    }
    .item1{
        background-color: brown;
        padding: 0;
        min-width: 20%;
    }

    .container{
        width: 100%;
        background-color: aquamarine;
        padding: 0;
        margin: 0;
    }
    section#kontak{
    }
    .item1{
        backdrop-filter: blur(10px);
    } */


    main{
        margin: 0;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
      }
      form{
        width: 100%;
        box-shadow: none;
      }
      .card-item{
        margin: 0;
        padding: 0;
        margin-top: 10px;
      }
      .container{
        display: flex;
        padding: 0;
        overflow: hidden;
        justify-content: center;
      }
      .item2{
        flex-wrap: wrap;
      }
      .item1{
      }
      #item-icon{
       padding: 5px;
      }
}

/* @media (max-width: 398px){
    .navbar{
        padding: 20px;
        background-color: aqua;
    }
    nav{
        width: 100%;
    }
    header.navbar{
        width: 90%;
    }
} */
@media (max-width: 700px) {
    header.navbar{
        bottom: 0;
    }
    section.tema {
        text-align: center;
    }

    /* nav */
    header {
        width: auto;
    }

    nav {
        width: 90%;
        flex-wrap: nowrap;
    }

    /* section */
    section#about {
        flex-wrap: wrap;
        width: auto;
    }

    section#services {
        display: list-item;
    }

    .images {
        width: 100%;
    }

    .about-jpg {
        width: 100%;
    }

    .about-png {
        width: 100%;
        border-radius: 10px;
        margin: auto;
    }

    .text {
        width: auto;
        padding: 20px;
    }

    /* contact */
    .container{
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
      }
      main{
        width: auto;
        display: flex;
        justify-content: center;
      }
      .card-item{
        width: auto;
        padding: 0;
      }
      .ftr-item{
        width: auto;
      }
      .nuri-jpg{
        width: auto;
      }

}

@media (min-width: 700px){
    header.navbar nav ul li:hover {
        border-bottom: 2px solid rgb(36, 83, 133);
        margin: 0 15px;
        border-radius: 10px;
        padding: 5px;
        background-color: rgb(33, 93, 172);
        text-align: center;
        color: white;
    }
    #typing span{
        color: #5fa1d7;
    }
    header.navbar{
        top: 0;
    }
}
